moderndwhdatafactory/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "moderndwhdatafactory"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureSqlDatabase1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSqlDatabase1'"
		},
		"AzureSynapseAnalytics1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureSynapseAnalytics1'"
		},
		"RestService_dumy_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://20.84.104.210:81"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pause_synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web2",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://login.microsoftonline.com/124d38e1-fd5b-4382-87c5-0323f8b79b62/oauth2/token",
							"method": "POST",
							"headers": {
								"Content-type": "application/x-www-form-urlencoded"
							},
							"body": "grant_type=client_credentials&client_secret=Np2APxLvWiUK_pszRHSrby0g1HHv95_H~k&client_id=http://demodwhaccount&resource=https://management.azure.com"
						}
					},
					{
						"name": "Web3",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Web2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://management.azure.com/subscriptions/f76e3096-fb65-4c23-8542-a9d8bfbfddec/resourceGroups/Azure_DW_Modernization/providers/Microsoft.Sql/servers/projectdemo/databases/projectdemosynapse/pause?api-version=2020-08-01-preview",
							"method": "POST",
							"headers": {
								"Authorization": {
									"value": "@concat('Bearer ',activity('Web2').output.access_token)",
									"type": "Expression"
								}
							},
							"body": "\"\""
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-06-01T11:22:36Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/resume_synapse')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "ADLogin",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://management.azure.com/subscriptions/f76e3096-fb65-4c23-8542-a9d8bfbfddec/resourceGroups/Azure_DW_Modernization/providers/Microsoft.Sql/servers/projectdemo/databases/projectdemosynapse/resume?api-version=2020-08-01-preview ",
							"method": "POST",
							"headers": {
								"Authorization": {
									"value": "@concat('Bearer ', activity('ADLogin').output.access_token)",
									"type": "Expression"
								}
							},
							"body": {}
						}
					},
					{
						"name": "ADLogin",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://login.microsoftonline.com/124d38e1-fd5b-4382-87c5-0323f8b79b62/oauth2/token",
							"method": "POST",
							"headers": {
								"Content-type": "application/x-www-form-urlencoded"
							},
							"body": "grant_type=client_credentials&client_secret=Np2APxLvWiUK_pszRHSrby0g1HHv95_H~k&client_id=http://demodwhaccount&resource=https://management.azure.com"
						}
					}
				],
				"annotations": [],
				"lastPublishTime": "2021-06-01T11:21:44Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('AzureSqlDatabase1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSynapseAnalytics1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('AzureSynapseAnalytics1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService_dumy')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService_dumy_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous",
					"authHeaders": {
						"auth": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlEmployee')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "EMP_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EMP_CODE",
						"type": "varchar"
					},
					{
						"name": "EMP_NAME",
						"type": "varchar"
					},
					{
						"name": "_inserted_dt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "_updated_dt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "sales",
					"table": "DIM_EMP"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlGroup')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "GRP_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GRP_NAME",
						"type": "varchar"
					},
					{
						"name": "SECTION",
						"type": "varchar"
					},
					{
						"name": "_inserted_dt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "_updated_dt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "sales",
					"table": "DIM_GRP"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlProduct')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "PROD_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PROD_TYPE",
						"type": "varchar"
					},
					{
						"name": "PROD_NAME",
						"type": "varchar"
					},
					{
						"name": "PROD_CODE",
						"type": "varchar"
					},
					{
						"name": "LABEL_NAME",
						"type": "varchar"
					},
					{
						"name": "_inserted_dt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "_updated_dt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "sales",
					"table": "DIM_PROD"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlShop')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "POS_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "POS_CODE",
						"type": "varchar"
					},
					{
						"name": "POS_LABEL",
						"type": "varchar"
					},
					{
						"name": "DISTRICT",
						"type": "varchar"
					},
					{
						"name": "BLOCK",
						"type": "varchar"
					},
					{
						"name": "REGION",
						"type": "varchar"
					},
					{
						"name": "TIER",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "sales",
					"table": "DIM_POS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IntermediateCSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "demo_output",
						"container": "rawdata"
					},
					"columnDelimiter": "|",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "json_value",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SalesBlob')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "sales",
						"container": "rawdata"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/rest_Json')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "text123.json",
						"folderPath": "demo",
						"container": "rawdata"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"Store_Code": {
							"type": "integer"
						},
						"Store_Name": {
							"type": "string"
						},
						"CAIS": {
							"type": "integer"
						},
						"TRANSDATE": {
							"type": "integer"
						},
						"TRANSTIME": {
							"type": "string"
						},
						"TRANSNUM": {
							"type": "integer"
						},
						"LINE_ID": {
							"type": "integer"
						},
						"VOID_FLAG": {
							"type": "string"
						},
						"RCPT_NOTE1": {
							"type": "string"
						},
						"RCPT_NOTE2": {
							"type": "string"
						},
						"SALE_TYPE": {
							"type": "string"
						},
						"Brand": {
							"type": "string"
						},
						"Department": {
							"type": "string"
						},
						"SubDepartment": {
							"type": "string"
						},
						"Class": {
							"type": "string"
						},
						"Short_name": {
							"type": "string"
						},
						"product_code": {
							"type": "string"
						},
						"Waist": {
							"type": "string"
						},
						"Inseam": {
							"type": "string"
						},
						"NetSold_Qty": {
							"type": "integer"
						},
						"Cost": {
							"type": "string"
						},
						"Retail_Price": {
							"type": "string"
						},
						"Unit_Price_Sold": {
							"type": "string"
						},
						"Discount_ID": {
							"type": "integer"
						},
						"Discount_Code": {
							"type": "null"
						},
						"Discount_Description": {
							"type": "null"
						},
						"Line_Applied": {
							"type": "null"
						},
						"Amount_Discount": {
							"type": "null"
						},
						"Percent_Discount": {
							"type": "null"
						},
						"New_Price_After_Discount": {
							"type": "null"
						},
						"NetSold_Amount": {
							"type": "string"
						},
						"TAX_RATE": {
							"type": "number"
						},
						"TAX_AMOUNT1": {
							"type": "number"
						},
						"TAX_AMOUNT2": {
							"type": "null"
						},
						"staff_code": {
							"type": "string"
						},
						"Staff_Name": {
							"type": "string"
						},
						"TS_ID": {
							"type": "string"
						},
						"PriceOverride": {
							"type": "string"
						},
						"Surver_Gender": {
							"type": "null"
						},
						"Surver_Age": {
							"type": "null"
						},
						"vipcode": {
							"type": "string"
						},
						"TRANSTIMESTR": {
							"type": "string"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlConcesssion')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CONS_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CONS_CODE",
						"type": "varchar"
					},
					{
						"name": "CONS_DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "_inserted_dt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "_updated_dt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "sales",
					"table": "DIM_CONS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSqlDatabase1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSynapseConcession')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "CONS_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CONS_CODE",
						"type": "varchar"
					},
					{
						"name": "CONS_DESCRIPTION",
						"type": "varchar"
					},
					{
						"name": "_inserted_dt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "_updated_dt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "sales",
					"table": "DIM_CONS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSynapseEmployee')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "EMP_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EMP_CODE",
						"type": "varchar"
					},
					{
						"name": "EMP_NAME",
						"type": "varchar"
					},
					{
						"name": "_inserted_dt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "_updated_dt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "sales",
					"table": "DIM_EMP"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSynapseAnalyticsGroup')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "GRP_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GRP_NAME",
						"type": "varchar"
					},
					{
						"name": "SECTION",
						"type": "varchar"
					},
					{
						"name": "_inserted_dt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "_updated_dt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "sales",
					"table": "DIM_GRP"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSynapseAnalyticsShop')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "POS_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "POS_CODE",
						"type": "varchar"
					},
					{
						"name": "POS_LABEL",
						"type": "varchar"
					},
					{
						"name": "DISTRICT",
						"type": "varchar"
					},
					{
						"name": "BLOCK",
						"type": "varchar"
					},
					{
						"name": "REGION",
						"type": "varchar"
					},
					{
						"name": "TIER",
						"type": "varchar"
					},
					{
						"name": "_inserted_dt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "_updated_dt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "sales",
					"table": "DIM_POS"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSynapseAnalyticsProd')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "PROD_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PROD_TYPE",
						"type": "varchar"
					},
					{
						"name": "PROD_NAME",
						"type": "varchar"
					},
					{
						"name": "PROD_CODE",
						"type": "varchar"
					},
					{
						"name": "LABEL_NAME",
						"type": "varchar"
					},
					{
						"name": "_inserted_dt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "_updated_dt",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "sales",
					"table": "DIM_PROD"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureSynapseAnalytics1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Json1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Json",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "demo",
						"container": "rawdata"
					}
				},
				"schema": {
					"type": "object",
					"properties": {
						"result": {
							"type": "array",
							"items": {
								"type": "object",
								"properties": {
									"Amount": {
										"type": "string"
									},
									"COMPANY": {
										"type": "string"
									},
									"CONCESSION_Code": {
										"type": "null"
									},
									"CONCESSION_Description": {
										"type": "null"
									},
									"CONCESSION_ID": {
										"type": "integer"
									},
									"CST": {
										"type": "string"
									},
									"Compartment": {
										"type": "string"
									},
									"Concession": {
										"type": "null"
									},
									"Percent_Reduce": {
										"type": "null"
									},
									"Price": {
										"type": "string"
									},
									"Price_Reduced": {
										"type": "null"
									},
									"Quantity": {
										"type": "integer"
									},
									"SALE_TYPE": {
										"type": "string"
									},
									"Shop_Code": {
										"type": "integer"
									},
									"Shop_Name": {
										"type": "string"
									},
									"SubCompartment": {
										"type": "string"
									},
									"TAXES1": {
										"type": "number"
									},
									"TAXES2": {
										"type": "null"
									},
									"TAX_SLAB": {
										"type": "number"
									},
									"TRANSDATE": {
										"type": "integer"
									},
									"TRANSNUM": {
										"type": "integer"
									},
									"TRANSTIME": {
										"type": "string"
									},
									"TRANSTIMESTR": {
										"type": "string"
									},
									"TYPE": {
										"type": "string"
									},
									"Unit_Price": {
										"type": "string"
									},
									"emp_Name": {
										"type": "string"
									},
									"emp_code": {
										"type": "string"
									},
									"nick_name": {
										"type": "string"
									},
									"prod_code": {
										"type": "string"
									}
								}
							}
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		}
	]
}